<!-- {% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="{% static 'css/global_loiii.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index_loiii.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" />
</head>

<body>
  <img src="{% static 'images/polygon 3 loi.png' %}" alt="" class="bg1">
  <img src="{% static 'images/background copy loi.png' %}" alt="" class="bg2">
  <div class="desktop-1">

    <b class="investors" style="z-index: 5;">INVESTORS</b>
    <img class="desktop-1-item" alt="" src="{% static 'images/rectangle-1 loi.svg' %}" />



    <div class="data-show">
      {% for i in data %}
      <div class="investor">
        <img class="img-of-inv" alt="" src="{% static 'images/vector1 loi.svg' %}" style="z-index: 5;" />
        <h3 style="z-index: 5;">{{i.user.first_name}}</h3>
        <h5 style="z-index: 5;">Amount-> &nbsp;{{i.amt}}</h5>
        <h5 style="z-index: 5;">Rate of Interest-> Rate of interest - {{i.interest}} %</h5>
        <div class="sel-plain"></div>
        <button class="sel">
          <img class="selected" alt="" src="{% static 'images/selected3.png' %}" />
        </button>
        <button class="proceed1">
          <a href="{% url 'clerk:loitosucc' %}" class="no-underline">
            Proceed
          </a>
        </button>
      </div>
      {% endfor %}
    </div>

    <div class="rectangle-parent1">
      <div>
        <input type="number" class="rectangle-textarea price-filter" placeholder="Filter According to Price"></input>
      </div>

      <button class="submit-filter-btn" style="z-index: 5; cursor: pointer;">Add Filter</button>
    </div>
    <div class="choose-from-the" style="z-index: 5;">
      Choose from the best of investors we have to offer.
    </div>
  </div>
  <script src="{% static 'js/index loi.js' %}"></script>
</body>

</html> -->